/CoffeeMachine/package.json
/latihantesting/coverage/
/latihantesting/node_modules/
/latihantesting/package-lock.json
/CoffeeMachine/node_modules/
/CoffeeMachine/package-lock.json
/latihantesting/package.json
